body {
    margin: 0;
}
.container {
    background-color: yellow;
}
.container:after {
    content: '';
    display: table;
    clear: both;
}
.container__box {
    float: left;
    width: 300px;
    height: 300px;
    position: relative;
    border: 5px solid black;
    background-color: darkmagenta;
}
.circle {
    width: 200px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: aqua;
}
.circle:hover {
    width: 250px;
    height: 250px;
    cursor: pointer;
    background-color: deeppink;
    transition: all .3s ease;
}
.container__box1 {
    float: left;
    width: 250px;
    height: 250px;
    border: 5px solid black;
    background-color: darkblue;
}
.container__box2 {
    float: right;
    width: 300px;
    height: 300px;
    border: 5px solid black;
    position: relative;
    background-color: darkgreen;
}
.container__box2--subtitle {
    line-height: 300px;
    text-align: center;
}

.title {
    font-size: 75px;
    font-family: "FF Meta Serif", serif;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: darkred;
}

